/api/ApiGateway/node_modules
/api/ApiGateway/package-lock.json
/api/ApiGateway/.env

/api/Auth/node_modules
/api/Auth/package-lock.json
/api/Auth/.env

/api/Bills/node_modules
/api/Bills/package-lock.json
/api/Bills/.env

/api/Products/node_modules
/api/Products/package-lock.json
/api/Products/.env

/api/Users/node_modules
/api/Users/package-lock.json
/api/Users/.env

/api/Emails/node_modules
/api/Emails/package-lock.json
/api/Emails/.env

/client/apolloClient/.env.local