html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

body::-webkit-scrollbar {
  max-width: 1em;
  min-width: 0.8em;
  border-radius: "2rem";
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: "6px";
}

body::-webkit-scrollbar-thumb {
  background-color: #44b8fc;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-items {
  font-size: large;
  color: lightgrey;
}

.nav-items:not(:last-child) {
  margin-right: 1.5em;
  background-color: #160606;
}

.sidebar-items:not(:last-child) {
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 767px) {
  body {
    width: 100vh;
  }
  .sidebar-items {
    margin-bottom: 0 !important;
  }
}

.sidebar-items {
  color: gray;
  font-size: large;
}

.sidebar-items p {
  margin-left: 1em;
}

.sidebar-items:hover svg {
  color: #6036f8;
}

.sidebar-items:hover p {
  color: #fff;
}

.active {
  color: #fff;
}

.active-icon {
  color: #6036f8 !important;
}

@import "../components/Carousel/Carousel.css";
