html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-items{
  font-size: large;
  color: lightgrey;
}


.nav-items:not(:last-child){
  margin-right: 1.5em;
  background-color: #160606
}

